<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>filter</title>
</head>
<body>
<div id="app">
    <h4>
        mastache语法
    </h4>
    <div v-for="fruit in fruits">
        {{ fruit.name }}的价格是: {{ (fruit.price/100).toFixed(2) }}元/斤
    </div>

    <h4>
        methods方法
    </h4>

    <div v-for="fruit in handleFruits()">
        {{ fruit.name }}的价格是: {{ fruit.price }}元/斤
    </div>


    <h4>
        computed 计算属性
    </h4>

    <div v-for="fruit in changeFruits">
        {{ fruit.name }}的价格是: {{ fruit.price }}元/斤
    </div>

    <h4>
        filter过滤器语法
    </h4>
    <div v-for="fruit in fruits">
        {{ fruit.name }}的价格是: {{ fruit.price | filterPrice }}元/斤
    </div>

    <h4>
        filter过滤器传参
    </h4>
    <div v-for="fruit in fruits">
        {{ fruit.name }}的价格是: {{ fruit.price | filterPriceSymbol("￥") }}元/斤
    </div>

    <h4>
        filter过滤器链式调用
    </h4>
    <div v-for="fruit in fruits">
        {{ fruit.name }}的价格是: {{ fruit.price | filterPrice | addSymbol("$") }}元/斤
    </div>

    <input type="text" :value="price | filterPrice | addSymbol('￥')">
<!--    过滤器可以在mastache 语法 和 动态属性绑定中使用-->

</div>

<script>
    let vm = new Vue({
        el:"#app",
        data:{
            fruits:[
                {
                    name:"苹果",
                    price:1035
                },
                {
                    name:"李子",
                    price:1238
                },
                {
                    name:"香蕉",
                    price:1554
                },
                {
                    name:"草莓",
                    price:2142
                }
            ],
            price:5816
        },
        methods:{
            handleFruits(){
                return this.fruits.map(fruit =>{
                    return {
                        name: fruit.name,
                        price : (fruit.price/100).toFixed(2)
                    }
                })
            }
        },
        computed:{
            changeFruits(){
                return this.fruits.map(fruit =>{
                    return {
                        name: fruit.name,
                        price : (fruit.price/100).toFixed(2)
                    }
                })
            }
        },
        watch:{},
        filters:{
            filterPrice(price){
                console.log(price)
                return (price/100).toFixed(2)
            },
            filterPriceSymbol(price,symbol){
                console.log(symbol)
                return symbol + (price/100).toFixed(2)
            },
            addSymbol(price,symbol){
                // console.log(price)
                return symbol + price
            }
        }
    })




</script>
</body>
</html>