<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for指令的基本使用</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h2>水果店的水果</h2>
<!--    1. 通过索引取出数组的值-->
<!--    <div>{{ fruits[0] }}</div>-->
<!--    <div>{{ fruits[1] }}</div>-->
<!--    <div>{{ fruits[2] }}</div>-->
<!--    <div>{{ fruits[3] }}</div>-->
<!--    <div>{{ fruits[4] }}</div>-->

<!--    2. 通过v-for循环指令取出数组的值-->
<!--    2.1 取出数组中的值-->
<!--    <div v-for="value in fruits">-->
<!--        {{ value }}-->
<!--    </div>-->

<!--    2.2 取出数组中的索引-->
<!--    <div v-for="(value,index) in fruits">-->
<!--        {{index}}:{{ value }}-->
<!--    </div>-->


<!--    3. 循环 对象数组 -->
    <div v-for="(item,index) in fruits">
        {{ index }}--<span>水果名:{{ item.name }}</span>----<span>价格:{{ item.price }}元/斤</span>
    </div>
</div>


<script>

    let vm = new Vue({
        el:"#app",
        data:{
            // fruits: ["苹果","香蕉","菠萝蜜","樱桃","榴莲"]
            fruits: [
                {
                    name:"苹果",
                    price: 10
                },
                {
                    name:"香蕉",
                    price: 12
                },
                {
                    name:"菠萝蜜",
                    price: 30
                },
                {
                    name:"樱桃",
                    price: 8
                },
                {
                    name:"榴莲",
                    price: 22
                }
            ]

        },
        methods:{

        }
    })
</script>
</body>
</html>